<h1>signin</h1>
<!-- Instrui o angular a usar o form espesifico, que foi criado no arquivo ts -->
<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <div class="mb-3 form-group">
        <label for="email" class="form-label">Email:</label>
        <input type="email" class="form-control" id="email" placeholder="Email"
        formControlName="emailTS">
    </div>
    <div class="mb-3 form-group">
        <label for="pass" class="form-label">Senha:</label>
        <input type="password" class="form-control" id="pass" placeholder="Senha"
        formControlName="passwordTS">
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-primary" >Cadastrar</button>
    </div>
</form>